@using TratieShop.Models;
@{
    List<Order> orders = ViewBag.Orders;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: #fff;
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            text-decoration: none;
            display: inline-block;
        }

            .btn-secondary:hover {
                background-color: #5a6268;
            }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        .btn-danger {
            background-color: #dc3545;
            color: #fff;
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            text-decoration: none;
            display: inline-block;
        }

            .btn-danger:hover {
                background-color: #bd2130;
            }

        .activePage {
            background-color: blue;
            color: #fff;
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    @if (ViewBag.updateSucess != null)
    {
        <script>
            swal({
                title: "Cập nhật trạng thái đơn thành công",
                icon: "success",
                text: "Bạn đã cập nhật trạng thái đơn hàng thành công!",
                confirmButtonText: "Xác nhận"
            });
        </script>
    }
    @Html.Partial("Header")
    <div class="container" style="margin-top:200px;">
        <a href="/Home/listProduct">
            <button class="btn-secondary">List Product</button>
        </a>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Total Price</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tb_content">
                @foreach (var order in orders)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@double.Parse(order.TotalPrice.ToString()) VNĐ</td>
                        <td>@order.DeliverAddress</td>
                        <td>@order.Phone</td>
                        <td>@order.Status.StatusName</td>
                        <td>
                            <a href="/Home/ViewOrderDetail?oId=@order.OrderId" class="btn-danger">View Detail</a>
                        @if(order.StatusId==2){
                                <a href="/Home/UpdateStatusUser?orderID=@order.OrderId" class="btn-danger">Đã nhận được hàng</a>
                            }
                            </td > 
                    </tr>
                }
               
            </tbody>
        </table>
        @if (ViewBag.TotalItems > ViewBag.PageSize)
        {
            <div class="pagination" style="margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    align-items: end;">
                @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize); i++)
                {
                    <a style="margin-right:5px;" class=" @(ViewBag.CurrentPage == i ? "activePage":"btn-primary")" href="/Home/MyPurchaseURL?page=@i">@i</a>
                }
            </div>
        }
    </div>
    </div>
</body>
</html>
